.gitignore
.pytest_cache
/dist
/input
/params
/pickle
/results
/tmalign
/pytestemp
__pycache__
.DS_Store
*.json
*.pdb
*.a3m
*.log
*.out
*.error
example/cf_example
example/output/*
colabfold/alphafold_bk
colabfold/alphafold/
