name: Release Package to PyPI

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: write
    
    # Prevents the job from running on forks
    if: github.repository == 'prameshsharma25/ColabFold'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: 2.2.1
          virtualenvs-create: true
          virtualenvs-in-project: true
          
      - name: Install dependencies (ColabFold)
        run: poetry install --no-root
        working-directory: ./

      - name: Configure PyPI token
        run: poetry config pypi-token.pypi ${{ secrets.PYPI_API_TOKEN }}
        
      - name: Bump Version
        run: poetry version patch
        working-directory: ./alphafold

      - name: Build Package
        run: poetry build
        working-directory: ./alphafold
        
      - name: Publish Package
        run: poetry publish
        working-directory: ./alphafold

      - name: Wait for PyPI Indexing
        run: sleep 30s

      - name: Update ColabFold Dependency
        run: |
          NEW_VERSION=$(poetry version -s --directory ./alphafold)
          poetry add alphafold-attention@^$NEW_VERSION --lock 
        working-directory: ./

      - name: Get New Version
        id: get_version
        run: echo "NEW_VERSION=$(poetry version -s --directory ./alphafold)" >> $GITHUB_OUTPUT
        working-directory: ./

      - name: Commit Version Bumps
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          
          git add alphafold/pyproject.toml
          
          git add pyproject.toml
          git add poetry.lock
          
          git commit -m "chore(release): Automated version bump for alphafold-attention"
          git push
        working-directory: ./

      - name: Create GitHub Release and Tag
        uses: ncipollo/release-action@v1
        with:
          tag: v${{ steps.get_version.outputs.NEW_VERSION }}
          name: Release v${{ steps.get_version.outputs.NEW_VERSION }}
          body: "Automated release based on latest merge to main."
          token: ${{ secrets.GITHUB_TOKEN }} 